WHATSAPP_VERIFY_TOKEN=replace_with_meta_verify_token
WHATSAPP_ACCESS_TOKEN=replace_with_meta_access_token
WHATSAPP_PHONE_NUMBER_ID=replace_with_meta_phone_number_id
WHATSAPP_GRAPH_VERSION=v22.0
WHATSAPP_AUTO_REPLY=0
WECOM_TOKEN=replace_with_wecom_token
